<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <script defer src="../script/page-view.js"></script>
    <script src="https://kit.fontawesome.com/b20d558793.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div data-homepage-nav class="nav-btn homepage-nav">
            <i class="fa-sharp fa-solid fa-house"></i>
        </div>
        <div data-test-nav class="nav-btn test-nav">
            <i class="fa-sharp fa-solid fa-gear"></i>
        </div>
    </nav>
</body>
</html>