<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <script defer src="../script/page-view.js"></script>
    <script src="https://kit.fontawesome.com/b20d558793.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div data-clique-nav class="nav-btn clique-nav">
            <i class="fa-sharp fa-solid fa-users"></i>
        </div>
        <div data-chat-nav class="nav-btn chat-nav">
            <i class="fa-solid fa-comment"></i>
        </div>
        <div data-discover-nav class="nav-btn discover-nav">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div data-settings-nav class="nav-btn settings-nav">
            <i class="fa-solid fa-gear"></i>
        </div>
    </nav>
</body>
</html>