<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/titlebar.css">
    <script defer src="../script/titlebar.js"></script>
    <script src="https://kit.fontawesome.com/b20d558793.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="tb-titlebar">
        <!-- Logo on the left side -->
        <div class="tb-logo">emanate</div>
        <!-- Buttons on the right side -->
        <div class="tb-interactive-buttons">
            <div data-tb-minimize-btn class="tb-minimize-btn">
                <p>-</p>
            </div>
            <div data-tb-maximize-btn class="tb-maximize-btn">
                <i class="fa-regular fa-window-restore"></i>
            </div>
            <div data-tb-close-btn class="tb-close-btn">
                <p>X</p>
            </div>
        </div>
    </div>
</body>
</html>
